{
	"id": "b3c567e2-f29f-42d1-8e7e-e32ddcce5f4a",
	"name": "local",
	"values": [
		{
			"key": "host",
			"value": "http://localhost:3000",
			"type": "default",
			"enabled": true
		},
		{
			"key": "bookId",
			"value": "",
			"type": "any",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2023-10-16T00:17:43.360Z",
	"_postman_exported_using": "Postman/10.18.11"
}
